 <div class="input-container">
  <label for="{{name}}">{{label}}</label>
  <input type="{{type}}" name="{{name}}" value="{{value}}">
  {{#each error}}
    <div class="error">{{error}}</div>
  {{/each}}
</div>